body {
    height: 100vh;
    margin: 0;
    background-color: #f4caca;
    cursor: none; /* Normal imleci gizler */
  }
  
  .cursor-cat {
    width: 100px; 
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Tıklamaları engellemez */
  }
  